doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='A web application to easy generate virtual and augmented reality apps')
    meta(name='author', content='Victor Hugo Cavichiolli Prado')
    meta(name='keyword', content='Virtual Reality, Augmented Reality, Bootstrap, Three.js, Web GL, Open Source, Node.js')
    title WARGEN - WEB AUGMENTED REALITY GENERATOR
   
    // Bootstrap core CSS
    //link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')

    // Custom styles
    //link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    #login-page
      .container
        form.form-login(action='index.html')
          h2.form-login-heading Login
          .login-wrap
            input.form-control(type='text', placeholder='Usuário', autofocus='')
            br
            input.form-control(type='password', placeholder='Senha')
            label.checkbox
              span.pull-right
                a(data-toggle='modal', href='login.html#myModal')  Esqueceu a senha?
            button.btn.btn-theme.btn-block(href='index.html', type='submit')
              span.glyphicon.glyphicon-lock
              |  ENTRAR
            hr
            .registration
              | Você não tem uma conta ainda?
              br
              a(href='#')
                | Criar uma conta
          // Modal
              #myModal.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                      h4.modal-title Forgot Password ?
                    .modal-body
                      p Enter your e-mail address below to reset your password.
                      input.form-control.placeholder-no-fix(type='text', name='email', placeholder='Email', autocomplete='off')
                    .modal-footer
                      button.btn.btn-default(data-dismiss='modal', type='button') Cancel
                      button.btn.btn-theme(type='button') Submit
          // modal
    // js placed at the end of the document so the pages load faster

    script(src='/javascripts/jquery-1.10.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
