doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='A web application to easy generate virtual and augmented reality apps')
    meta(name='author', content='Victor Hugo Cavichiolli Prado')
    meta(name='keyword', content='Virtual Reality, Augmented Reality, Bootstrap, Three.js, Web GL, Open Source, Node.js')

    title CUBE

    script(src='/javascripts/three.js')
    script(src='/classes/testejs.js')
  body
    #3dcanvas
    